{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color */
body {
    background-color: #80033c;
    background-image: url(img/arene1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 75%;
    background-position: center;
    color: #b01b4c;
    font-size: 1rem;
    line-height: 22px;
    font-family: Arial, sans-serif;
}

/* Center the content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the main heading */
h1 {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 6vw;  /* Taille du texte en fonction de la largeur de l'écran */
    color: #080808;
    text-align: center; /* Centrer le texte */
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/* Add some padding to the content */
.content {
    padding: 20px;
}